{% extends "layout.html" %}
{% block content %}
<main>
    <section class="presentation">
        <div class="introduction">
            <div class="intro-text">
                <h1>My simple flask website</h1>
                <p>
                    This website is just a simple demo website
                    for me to train my front-end development.
                </p>
            </div>
            <div class="cta">
                <a href="https://www.instagram.com/p/CC-vWb1A8KD/"><button class="cta-select">Instagram</button></a>
                <a href="https://github.com/rosenkilde95/Instagram-Follower"><button class="cta-add">Source</button></a>
            </div>
        </div>
        <div class="cover">
            <img src="static/pictures/demo_app.png" alt="application" />
        </div>
    </section>
    
    <div class="laptop-select">
        <img src="static/pictures/arrow-left.svg" alt="" />
        <img src="static/pictures/dot.svg" alt="" />
        <img src="static/pictures/dot-full.svg" alt="" />
        <img src="static/pictures/dot-full.svg" alt="" />
        <img src="static/pictures/arrow-right.svg" alt="" />
    </div>

    <img class="big-circle" src="static/pictures/big-eclipse.svg" alt="" />
    <img class="medium-circle" src="static/pictures/mid-eclipse.svg" alt="" />
    <img class="small-circle" src="static/pictures/small-eclipse.svg" alt="" />
</main>
{% endblock %}
