* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}
button {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    width: 95%;
    height: 10vh;
    margin: auto;
    align-items: center;
}

.logo-container,
.nav-links,
.links {
    display: flex;
}

.logo-container a>img{
    flex: 1;
    width: 90%;
}

/* Navigation menus */
nav {
    flex: 2;
}
.nav-links{
    justify-content: space-around;
    list-style: none;
}
.nav-link {
    color: #5f5f5f;
    font-size: 18px;
    text-decoration: none;
}

/* Picture links */
.links a>img{
    flex: 1;
    justify-content: flex-end;
    margin-left: 5px;
}

/* Center of page */
.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}
.introduction {
    flex: 1;
}
.intro-text h1 {
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f69);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro-text p {
    margin-top: 5px;
    font-size: 24px;
    color: #585772;
}

/* Instagram & Source Buttons */
.cta {
    padding: 50px, 0px, 0px, 0px;
}
.cta-select {
    border: 2px solid #eb6e34;
    background: transparent;
    color: #eb6e34;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}
.cta-add {
    background: #eb6e34;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    color: white;
    margin: 30px, 0px, 0px, 30px;
}

/* Big Background Effect */
.big-circle {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.5;
    height: 80%;
}
.medium-circle {
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: -1;
    height: 60%;
    opacity: 0.4;
}
.small-circle {
    position: absolute;
    bottom: 0%;
    left: 20%;
    z-index: -1;
}

/* Image */
.cover {
    flex: 1;
}
.cover img {
    height: 60vh;
    filter: drop-shadow(0px 5px 3px black);
    animation: drop 1.5s ease;
}

/* Image Navigation */
.laptop-select {
    width: 15%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 25%;
}

/* Image effect */
@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 1024px) {
    .presentation {
        flex-direction: column;
    }
    .introduction {
        margin-top: 5vh;
        text-align: center;
    }
    .intro-text h1 {
        font-size: 30px;
    }
    .intro-text p {
        font-size: 18px;
    }
    .cta {
        padding: 10px 0px 0px 0px;
    }
    .laptop-select {
        bottom: 5%;
        right: 50%;
        width: 50%;
        transform: translate(50%, 5%);
    }
    .cover img {
        height: 80%;
    }
    .small-circle,
    .medium-circle,
    .big-circle {
        opacity: 0.2;
    }
}



/* Test Page */
.test-page {
    text-align: center;
    margin: auto;
    width: 80%;
    border: 3px solid #eb6e34;
    padding: 10px;
}
.test-page h1 {
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f69);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.test-links {
    border: 2px solid #eb6e34;
    background: transparent;
    color: #eb6e34;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}

